.h3 {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter 28 Pt", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-bottom: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 24px;
  color: #757575;
}
.grid-gap {
  grid-row-gap: 1rem;
}
.about-container {
  margin-top: 100px;
}
